# Python cruft
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
env/
venv/
.venv/

# Logs and debug junk
*.log
*.html
*.png
logs/
screenshots/
*.jsonl

# Editor & OS droppings
.DS_Store
.idea/
.vscode/
*.swp
*.bak

# Git
.git
.gitignore

# Env files
.env
# zip files
*.zip
