# Python artifacts
__pycache__/
*.py[cod]
*.egg-info/
venv/
.env
.env.*
!.env.example
.plawright

# Logs and debug output
logs/
*.log
*.sqlite3

# VSCode config
.vscode/
*.patch

# OS junk
.DS_Store

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
