Flask==3.1.0
python-dotenv==1.1.0
psycopg2-binary==2.9.10
playwright==1.52.0
sentence-transformers==4.1.0
chromadb==0.4.22
numpy<2.0
scikit-learn==1.6.1
scipy==1.15.2
transformers==4.51.3
torch==2.7.0
pydantic==2.11.4
requests==2.32.3
openai==1.76.2
uvicorn==0.34.2
fastapi==0.115.12
openpyxl
