<!DOCTYPE html>
<html>
<head>
	<title>Oracle Crawler Login</title>
</head>
<body>
	<h2>🔐 Oracle Login</h2>
    <form method="POST">
        <label>Login URL:</label><br>
        <input type="text" name="login_url" size="50" value="https://login-ibnijb-dev1.fa.ocs.oraclecloud.com" required><br><br>
    
        <label>Username:</label><br>
        <input type="text" name="username" required><br><br>
    
        <label>Password:</label><br>
        <input type="password" name="password" required><br><br>
    
        <input type="submit" value="Run Crawler">
    </form>
    
</body>
</html>
